*{
	text-align: center;
}

.outside{background: green; padding: 5px; width: 50%; min-width: 200px; border: solid; border-radius: 20px 20px 0 0;}

.top-controls{
	padding: 20px;
}

.top-controls p{
	display: inline;
	background: red;
	padding: 10px;
	margin: 5px;
	border: solid 1px;
	border-radius: 5px;
	cursor: pointer;
}
.top-controls p:hover{
	box-shadow: 0 0 5px 1px;
}

.top-controls p:active{
	left:1px;
	box-shadow: 0 0 3px 0px;
}

.block{display: block; background: #68D13C;}

.block *{
	margin: 0;
}

h5{
	text-align: left;
}

.round{
	text-align: right;
	display: inline;
	float: right;
}

.clock-face>h1{
	font-family: "Courier New", Courier, monospace;
	background: black;
	border: solid 1px #FFFB2C;
	color: white;
	width: 200px;
	padding: 10px 0;
	margin: 0 auto;
	box-shadow: 0 0 5px 5px #FFFB2C;
}

.clock-face{
	background: #9BF575;
	padding: 10px 0;
}

.uppercase{
	text-transform: uppercase;
	font-family: Impact, Charcoal, sans-serif;
	padding: 0 2px;
}

.title span:nth-child(2){
	border: solid black 1px;
	background: #9BF575;
	padding: 1px;
	margin: 1px;
}

.title{
	padding: 4px 0;
}

.round{
	border: solid black 1px;
	border-radius: 20px;
	padding: 2px;
	background: #9BF575;
	margin: 1px;
}

.active .round{
	background-color: yellow;
}
